body {
  background-color: #121212;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  width: 90%;
  max-width: 600px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #bb86fc;
}

.score-board {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.badge {
  background-color: #333;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  color: #bb86fc;
}

#user-score,
#computer-score {
  font-size: 2rem;
}

.versus {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.vs {
  font-size: 2rem;
  color: #888;
}

.choice {
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.choice:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px rgba(187, 134, 252, 0.5);
}

.choice img {
  width: 100px;
  height: 100px;
}

.result p {
  font-size: 1.5rem;
  margin: 20px 0;
  color: #03dac6;
}

.choices {
  display: flex;
  justify-content: space-around;
}

.winner {
  border: 2px solid #03dac6;
  border-radius: 10px;
  animation: winnerAnimation 1s ease-in-out;
}

img {
  width: 240px;
  height: auto;
}

@keyframes winnerAnimation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}